NODE_ENV=development
PORT=3010
REDIS_URL=redis://127.0.0.1:6379/0

GATEWAY_JWT_PUBLIC_KEY=dev-gateway-jwt-secret
GATEWAY_JWT_ALGO=HS256
GATEWAY_JWT_ISS=haxbrasil-room-gateway
GATEWAY_JWT_AUD=haxbrasil-room-servers
